:root {
  --color-background-dark: oklch(0.2 0.1 20);
  --color-background: oklch(from var(--color-background-dark) calc(l + 0.1) c h);
  --color-background-light: oklch(from var(--color-background) calc(l + 0.1) c h);

  --color-text: oklch(0.8 0 0);

  --color-accent-dark: oklch(0.8 0.8 115);
  --color-accent: oklch(from var(--color-accent-dark) calc(l + 0.2) c h);

  --color-accent2: oklch(0.65 0.1652 249.21)
}

body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  width: 100%;
}

p {
  padding: 0 20px;
}

a:link {
  color: var(--color-accent);
}

a:visited {
  color: var(--color-accent-dark);
}

a:hover {
  color: var(--color-accent2);
}

a:active {
  color: var(--color-accent);
}

details {
  padding: 10px;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.form-row {
  width: 100%;
  margin: 5px 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .horizontal {
    flex-direction: column;
  }
}
